#
# Service translations
#
# @language		en_US
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:DevicesNode!
# @subpackage	Translations
# @since		0.1.0
#
# @date			13.04.19
#

#
# Miscellaneous texts
#

base:
	messages:
		notValidJson:
			heading	: "Not valid content"
			message	: "Provided request content is not valid JSON content"
		notValidJsonApi:
			heading	: "Not valid content"
			message	: "Provided request content is not valid {JSON:API} content"
		invalidDeviceType:
			heading	: "Invalid device type"
			message	: "Data for given device id could not be loaded"
		invalidChannelType:
			heading	: "Invalid device channel type"
			message	: "Data for given channel id could not be loaded"
		unknownRelation:
			heading	: "Relation not found"
			message	: "Requested unknown relation"
		relationNotFound:
			heading	: "Relation not found"
			message	: "Requested relation %relation% was not found"
		deviceNotFound:
			heading	: "Device not found"
			message	: "Requested device was not found"
		channelNotFound:
			heading	: "Channel not found"
			message	: "Requested channel was not found"
		invalid:
			heading	: "Bad request"
			message	: "Request resource identifier is invalid"
		missingRequired:
			heading	: "Missing required attribute"
			message	: "Provided request is missing required attribute or relation"
		uniqueConstraint:
			heading	: "Attribute not unique"
			message	: "Provided attribute is not unique"

devices:
	messages:
		invalidType:
			heading	: "Invalid type"
			message	: "Provided device entity type is not valid"
		notCreated:
			heading	: "System error"
			message	: "Something went wrong, device could not be created"
		notUpdated:
			heading	: "System error"
			message	: "Something went wrong, device could not be updated"
		notDeleted:
			heading	: "System error"
			message	: "Something went wrong, device could not be deleted"

deviceConfiguration:
	messages:
		notFound:
			heading	: "Not found"
			message	: "Requested configuration could not be found"

deviceProperties:
	messages:
		notFound:
			heading	: "Not found"
			message	: "Requested property could not be found"

deviceCredentials:
	messages:
		invalidType:
			heading	: "Invalid type"
			message	: "Provided device credentials entity type is not valid"
		notCreated:
			heading	: "System error"
			message	: "Something went wrong, device credentials could not be created"
		notUpdated:
			heading	: "System error"
			message	: "Something went wrong, device credentials could not be updated"

channels:
	messages:
		invalidType:
			heading	: "Invalid type"
			message	: "Provided channel entity type is not valid"
		notUpdated:
			heading	: "System error"
			message	: "Something went wrong, channel could not be updated"

channelConfiguration:
	messages:
		notFound:
			heading	: "Not found"
			message	: "Requested configuration could not be found"

channelProperties:
	messages:
		notFound:
			heading	: "Not found"
			message	: "Requested property could not be found"
