#
# Service translations - commands
#
# @language		en_US
#
# @license		More in license.md
# @copyright	https://fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:DevicesNode!
# @subpackage	Translations
# @since		0.1.0
#
# @date			13.02.20
#

commands:
	deviceCreate:
		type:
			title: "Device type"
		name:
			title: "Device name"
		identifier:
			title: "Communication identifier"
		username:
			title: "Communication username"
		password:
			title: "Communication password"

		validation:
			device:
				wasNotCreated: "Device could not be created in the system. Error: %error%"

		success: "Device was successfuly created. Now could be connected to the server"
