#
# Service DI configuration
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:DevicesNode!
# @subpackage	config
# @since		0.1.0
#
# @date			15.03.20

##############################
# Node predefined parameters #
##############################

parameters:
	origin: com.fastybird.devices-module

#########################
# Used Nette extensions #
#########################

extensions:
	contributteTranslation				: Contributte\Translation\DI\TranslationExtension
	contributeEvents					: Contributte\EventDispatcher\DI\EventDispatcherExtension
	nettrineAnnotations					: Nettrine\Annotations\DI\AnnotationsExtension
	nettrineCache						: Nettrine\Cache\DI\CacheExtension
	nettrineDbal						: Nettrine\DBAL\DI\DbalExtension
	nettrineOrm							: Nettrine\ORM\DI\OrmExtension
	nettrineOrmAnnotations				: Nettrine\ORM\DI\OrmAnnotationsExtension
	nettrineOrmConsole					: Nettrine\ORM\DI\OrmConsoleExtension
	nettrineOrmCache					: Nettrine\ORM\DI\OrmCacheExtension
	fbDateTimeFactory					: FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension
	fbApplicationExchange				: FastyBird\ApplicationExchange\DI\ApplicationExchangeExtension
	fbSimpleAuth						: FastyBird\SimpleAuth\DI\SimpleAuthExtension
	fbDatabase							: FastyBird\Database\DI\DatabaseExtension
	fbJsonApi							: FastyBird\JsonApi\DI\JsonApiExtension
	fbModulesMetadata					: FastyBird\ModulesMetadata\DI\ModulesMetadataExtension
	fbWebServer							: FastyBird\WebServer\DI\WebServerExtension
	fbDevicesModule						: FastyBird\DevicesModule\DI\DevicesModuleExtension
	fbRabbitMqPlugin					: FastyBird\RabbitMqPlugin\DI\RabbitMqPluginExtension
	fbCouchDbStoragePlugin				: FastyBird\CouchDbStoragePlugin\DI\CouchDbStoragePluginExtension
	fbMqttPlugin						: FastyBird\MqttPlugin\DI\MqttPluginExtension
	fbVerneMqAuthPlugin					: FastyBird\VerneMqAuthPlugin\DI\VerneMqAuthPluginExtension
	ipubDoctrineConsistence				: IPub\DoctrineConsistence\DI\DoctrineConsistenceExtension
	ipubDoctrineCrud					: IPub\DoctrineCrud\DI\DoctrineCrudExtension
	ipubDoctrineTimestampable			: IPub\DoctrineTimestampable\DI\DoctrineTimestampableExtension
	ipubDoctrineDynamicDiscriminatorMap	: IPub\DoctrineDynamicDiscriminatorMap\DI\DoctrineDynamicDiscriminatorMapExtension
	ipubMqttClient						: IPub\MQTTClient\DI\MQTTClientExtension

##################################
# Nette extensions configuration #
##################################

# Simple authentication
#######################
fbSimpleAuth:
	token:
		issuer: %security.issuer%
		signature: %security.signature%
	enable:
		middleware: true
		doctrine:
			mapping: true
	services:
		identity: true

# RabbitMQ exchange
####################
fbRabbitMqPlugin:
	origin: %origin%
	rabbitMQ:
		connection:
			host: %exchange.host%
			port: %exchange.port%
			vhost: %exchange.vhost%
			username: %exchange.username%
			password: %exchange.password%

# CouchDB storage
#################
fbCouchDbStoragePlugin:
	connection:
		database: properties
		host: %storage.host%
		port: %storage.port%
		username: %storage.username%
		password: %storage.password%

# Web server
#################
fbWebServer:
	server:
		address: %server.address%
		port: %server.port%

# MQTT async client extension
#############################
ipubMqttClient:
	broker:
		httpHost: %mqtt.host%
		port: %mqtt.port%
		secured:
			enable: %mqtt.secured.enabled%
	connection:
		username: %mqtt.username%
		password: %mqtt.password%
		clientID: %mqtt.clientid%
	loop: null

# Node translations
###################
contributteTranslation:
	locales:
		default: en_US
		fallback: [en_US, en]
	localeResolvers: []

# Doctrine DBAL
###############
nettrineDbal:
	connection:
		serverVersion: %database.version%
		host: %database.host%
		port: %database.port%
		driver: %database.driver%
		memory: %database.memory%
		dbname: %database.dbname%
		user: %database.username%
		password: %database.password%
		charset: utf8

		types:
			uuid_binary:
				class: Ramsey\Uuid\Doctrine\UuidBinaryType
				commented: false
			utcdatetime:
				class: IPub\DoctrineTimestampable\Types\UTCDateTime
				commented: false

		typesMapping:
			uuid_binary: binary

# Doctrine ORM annoations
#########################
nettrineAnnotations:
	debug: %debugMode%
	ignore:
		- writable
		- validator
		- module
		- author
		- subpackage
		- package
		- phpcsSuppress

# Doctrine ORM
##############
nettrineOrm:
	configuration:
		proxyDir	: %tempDir%/cache/doctrine.proxies

nettrineOrmAnnotations:
	mapping: []

#############################
# Node services definitions #
#############################

decorator:
	FastyBird\CouchDbStoragePlugin\Models\PropertiesManager:
		setup:
			- '$onAfterUpdate[]' = @FastyBird\DevicesNode\Events\PropertyStateUpdatedHandler

services:
	# Console commands
	##################

	- {factory: FastyBird\DevicesNode\Commands\InitializeCommand}

	- {factory: FastyBird\DevicesNode\Commands\SynchroniseCommand}

	# MQTT bus messages handlers
	############################

	- {factory: FastyBird\DevicesNode\Consumers\MQTT\DeviceMessageHandler}

	- {factory: FastyBird\DevicesNode\Consumers\MQTT\DeviceHardwareMessageHandler}

	- {factory: FastyBird\DevicesNode\Consumers\MQTT\DeviceFirmwareMessageHandler}

	- {factory: FastyBird\DevicesNode\Consumers\MQTT\DevicePropertyMessageHandler}

	- {factory: FastyBird\DevicesNode\Consumers\MQTT\DeviceControlMessageHandler}

	- {factory: FastyBird\DevicesNode\Consumers\MQTT\ChannelMessageHandler}

	- {factory: FastyBird\DevicesNode\Consumers\MQTT\ChannelPropertyMessageHandler}

	- {factory: FastyBird\DevicesNode\Consumers\MQTT\ChannelControlMessageHandler}

	# Models
	########

	- {factory: FastyBird\DevicesNode\Models\PropertiesManager}

	- {factory: FastyBird\DevicesNode\Models\PropertyRepository}

	# Node events
	#############

	- {factory: FastyBird\DevicesNode\Events\PropertyStateUpdatedHandler}

	# Subscribers
	#############

	- {factory: FastyBird\DevicesNode\Subscribers\EntitiesSubscriber}
